
#search{
  margin-top: 25px;
  float: right;

  label{
    color:floralwhite;
    font-size:1rem;
  }
}

input[type="search"]{
  width:170px;
  margin:10px;
  padding:10px 16px;
  border-radius:32px;
  outline:none;
  border:2px solid #ccd1d1;
  background:#b9c8ce;
  transition:all 0.5s;
}

input[type="search"]:focus{
  background:#fff;
  width:300px;
}
